<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Cloudmaster.WCS.Department.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler"/>
		<!--<section name="departments" type="Cloudmaster.WCS.Department.ConfigSepartmentSection, WCS.Department" />-->
	</configSections>
	<!--<departments configSource="departments.config"/>-->
	<connectionStrings configSource="connections.config"/>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
	</startup>

	<log4net>
		<appender name="consoleAppender" type="log4net.Appender.ConsoleAppender">
				<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
		<appender name="eventLogAppender" type="log4net.Appender.EventLogAppender,log4net" >
			<logName value="Application" />
			<applicationName value="WCS" />
			<mapping>
				<level value="ERROR" />
				<eventLogEntryType value="Error" />
			</mapping>
			<mapping>
				<level value="DEBUG" />
				<eventLogEntryType value="Information" />
			</mapping>
			<mapping>
				<level value="INFO" />
				<eventLogEntryType value="Information" />
			</mapping>
			<mapping>
				<level value="WARN" />
				<eventLogEntryType value="Warning" />
			</mapping>
			<layout type="log4net.Layout.PatternLayout,log4net">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>

		<appender name="customEventLogAppender" type="WCS.Core.Instrumentation.EventLogWriterAppender, Cloudmaster.WCS.Core">
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="ERROR" />
				<levelMax value="FATAL" />
			</filter>
					<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="[%d] - %m%n" />
			</layout>
		</appender>
		<root>
			<level value="ALL"/>
			<!--<appender-ref ref="eventLogAppender"/>-->
			<appender-ref ref="consoleAppender"/>
			<appender-ref ref="customEventLogAppender"/>
		</root>
	</log4net>

	<!--<userSettings>
    <Cloudmaster.WCS.Department.Properties.Settings>
      <setting name="DefaultModality" serializeAs="String">
        <value>CT</value>
      </setting>
      <setting name="SecurityLockInterval" serializeAs="String">
        <value>0</value>
      </setting>
    </Cloudmaster.WCS.Department.Properties.Settings>
  </userSettings>-->

	<system.serviceModel>

		<!--<extensions>
			<behaviorExtensions>
				<add name="myExtension" type="Cloudmaster.WCS.DataServicesInvoker.MyMessageInspector, WCS.DataServicesInvoker, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
			</behaviorExtensions>
		</extensions>
		<behaviors>
			<endpointBehaviors>
				<behavior name="myBehaniour">
					<myExtension/>
				</behavior>
			</endpointBehaviors>
		</behaviors>-->

		<bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDataServices" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
            bypassProxyOnLocal="false" >
        </binding>
      </basicHttpBinding>
		</bindings>
		<client>

			<!-- Production -->
      <!-- ClickOnce URL is http://gcl1ca01:61442/Installer/publish.htm -->
      <!--
      <endpoint address="http://gcl1ca01:61442/DataServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataServices"
                contract="DataServices.IDataServices" name="BasicHttpBinding_IDataServices" />
               -->
      

			<!-- Staging -->
      <!-- ClickOnce URL is http://cmstr-test.galwayclinic.net/Installer/publish.htm -->
      <!--
			<endpoint address="http://cmstr-test.galwayclinic.net/DataServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataServices"  
                contract="DataServices.IDataServices" name="BasicHttpBinding_IDataServices" />
          -->      
                
                
			<!-- Localhost debugging in VS -->

			<endpoint address="http://localhost:49222/Cloudmaster.WCS.DataServicesHost/DataServices.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataServices"
          contract="DataServices.IDataServices" name="BasicHttpBinding_IDataServices" />

      <!-- Localhost deployed to IIS -->
      <!--<endpoint address="http://localhost/wcs/DataServices.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataServices"
          contract="DataServices.IDataServices" name="BasicHttpBinding_IDataServices" />-->


      <!-- Azure Demo -->
      <!--<endpoint address="http://wcs-demo01.cloudapp.net/DataServices.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataServices"
          contract="DataServices.IDataServices" name="BasicHttpBinding_IDataServices" />-->

    </client>
	</system.serviceModel>
</configuration>
