<?xml version="1.0"?>
<configuration>
    <startup> 
       <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <connectionStrings>

    <add name="WCSEntities" connectionString="metadata=res://*/WCSModel.csdl|res://*/WCSModel.ssdl|res://*/WCSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=WCS;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--
    <add name="WCSEntities" connectionString="metadata=res://*/WCSModel.csdl|res://*/WCSModel.ssdl|res://*/WCSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ix7e6jndvk.database.windows.net;initial catalog=WCS;persist security info=True;user id=robrien;password=%123admin;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  -->
  </connectionStrings>
</configuration>
