<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
		<!--SQL Server-->
		<add name="WCSEntities" connectionString="metadata=res://*/WCSModel.csdl|res://*/WCSModel.ssdl|res://*/WCSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=WCS;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

		<!--Azure SQL-->
		<!--<add name="WCSEntities" connectionString="metadata=res://*/WCSModel.csdl|res://*/WCSModel.ssdl|res://*/WCSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ix7e6jndvk.database.windows.net;Initial Catalog=WCS;Integrated Security=False;User ID=robrien@ix7e6jndvk;Password=%123admin;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False&quot;" providerName="System.Data.EntityClient"/>-->
	</connectionStrings>
</configuration>