<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Cloudmaster.WCS.Ward.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Cloudmaster.WCS.Ward.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings configSource="connections.config"/>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <Cloudmaster.WCS.Ward.Properties.Settings>
            <setting name="WardDisplayName" serializeAs="String">
                <value>Ward</value>
            </setting>
            <setting name="RefreshInterval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="WardIdentifier" serializeAs="String">
                <value>DAY WARD</value>
            </setting>
        </Cloudmaster.WCS.Ward.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Cloudmaster.WCS.Ward.Properties.Settings>
            <setting name="SecurityLockInterval" serializeAs="String">
                <value>120</value>
            </setting>
        </Cloudmaster.WCS.Ward.Properties.Settings>
    </userSettings>
</configuration>
