<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <!--
  <add name="IAdmissionsProviderConnectionString"
  connectionString="Provider=FileSystem;Uri=C:\Orders;ListName=Orders" />-->
  <add name="IAdmissionsProviderConnectionString"
    connectionString="Provider=Iguana;Dev=http://localhost:61443/IguanaDataServices.svc;Uri=http://gcl1sp01:62178/IguanaDataServices.svc;Test=http://win-h7359m8tame:62180/IguanaDataServices.svc" />
</connectionStrings>
